* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
  background-color: rgb(7, 128, 128);
  text-align: center;
  font-size: 28px;
  padding: 20px;
  position: relative;
  animation-name: head;
  animation-duration: 3s;
}
@media only screen and (min-width: 600px) {
  header {
    display: flex;
    justify-content: space-between;
  }
  .carousel img {
    height: 60vh;
    width: 20vw;
  }
}
@media only screen and (min-width: 1060px) {
  .carousel-each {
    display: flex;
  }
}
header h4,
#signUp {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 710;
}
.carousel .title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  font-weight: 710;
}
header {
  animation-timing-function: linear;
}
@keyframes head {
  0% {
    left: 600px;
  }

  100% {
    left: 0px;
  }
}
#signUp {
  font-weight: 560;
  font-size: 19px;
  transition: all 0.2s;
  animation: bn13bouncy 5s infinite linear;
  position: relative;
}
@keyframes bn13bouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}
.navbar {
  font-size: 18px;
}
.navbar a:hover {
  font-weight: 500;
}
.navbar-brand {
  font-weight: 600;
  font-size: 25px;
}

.signIn {
  font-weight: 560;
  font-size: 19px;
}
footer nav {
  font-size: 21px;
}
.carousel {
  animation-name: first;
  animation-duration: 3s;
  position: relative;
  line-height: 170%;
  font-size: 120%;
}
.carousel del {
  color: rgb(255, 0, 0);
}
.carousel h5,
.title,
p {
  color: #000000;
  padding: 10px;
}
.carousel p {
  font-weight: 500;
  font-size: 115%;
}
.carousel .title {
  font-size: 180%;
}
.carousel {
  animation-timing-function: linear;
}
@keyframes first {
  0% {
    top: -200px;
  }
  100% {
    top: 0px;
  }
}
#firstMiniDis {
  animation-name: second;
  animation-duration: 3s;
  position: relative;
}
#firstMiniDis .card-title {
  text-decoration: underline;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
#firstMiniDis {
  animation-timing-function: linear;
}
@keyframes second {
  0% {
    top: 200px;
  }
  100% {
    top: 0px;
  }
}
.third {
  margin-left: 15px;
}
.thirdCard {
  width: 44vw;
}
.thirdCardImg {
  width: 30vw;
}
.footImg {
  height: 50vh;
}
.footEmailInput {
  height: 5vh;
  width: 28vw;
}
.foot span {
  height: 40vh;
}
.footerBtn {
  background-color: rgb(2, 8, 38);
  font-size: 22px;
  font-weight: 500;
}
.footerBtn:hover {
  background-color: rgb(2, 8, 38);
}
.footerBtn svg {
  position: relative;
}
.footerBtn:hover svg {
  height: 25px;
  width: 25px;
  left: 10px;
  font-weight: 700;
}
footer span a {
  font-size: 100% !important;
  font-weight: 500 !important;
}
footer span a:hover {
  text-decoration: underline !important;
  cursor: pointer;
  color: #008000 !important;
}
footer form h1 {
  text-decoration: underline;
  text-decoration-color: #008000;
  text-decoration-thickness: 20%;
}
footer form input::placeholder {
  color: #ffffff !important;
  font-size: 100%;
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
}
.card-footer {
  background-color: rgb(7, 128, 128);
}
#navRef .card-title {
  font-size: 120%;
  font-weight: 550;
}
.shopDis {
  font-size: 18px;
}
.shopDis:hover {
  font-size: 20px;
}
.bN {
  font-weight: 500;
  font-size: 18px;
  text-decoration: underline;
}
#fNavScroll li:nth-child(4) {
  cursor: pointer;
}
#footNavI a:nth-child(4) {
  cursor: pointer;
}
#eyeClose {
  float: right;
  position: relative;
  top: -29px;
  right: 5%;
}
#eyeOpen {
  float: right;
  position: relative;
  top: -29px;
  right: 5%;
  display: none;
}
a:not(.link-underline-danger) {
  text-decoration: none;
}
#tprosec {
  margin-left: 12;
}
#resend {
  cursor: pointer;
}
.closeSign {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
#signBlock {
  position: relative;
}
#resetPass {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 510;
}
