* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  color: #000000;
  font-weight: 540;
}
.card-body h4,
.h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
}
label{
  font-size: 16px;
}
#verify_sent {
  width: 28rem;
  position: relative;
  top: -2rem;
}
nav {
  height: 13vh;
}
.resetCard {
  width: 37vw;
  height: 85vh;
  margin: auto;
  position: relative;
  top: -23px;
}
#backHome {
  cursor: pointer;
}
.newAccount {
  cursor: pointer;
}
