* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: #000000;
  font-weight: 500;
}
.card-body h4,
.h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
}
label{
  font-size: 15px;
}
nav {
  height: 13vh;
  /* 37vw */
}
@media only screen and (min-width:320px){
  .resetCard {
    /* width: 37vw; */
    height: 85vh;
    margin: auto;
    /* position: relative; */
    /* top: -px; */
  }
}
@media only screen and (min-width:768px){
  .resetCard {
    width: 50vw;
  }
}
@media only screen and (min-width:1024px){
  .resetCard{
    width: 37vw;
  }
}


#backHome {
  cursor: pointer;
}
.newAccount {
  cursor: pointer;
}
