*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, "Times New Roman", Times, serif;
   
}
/* body{
    overflow-x: hidden ;
    overflow-y: scroll;

} */
header{
    padding: 15px 20px;
    display: flex;
    justify-content: center;
    background-color:#282828;
}
marquee span{
    margin-left: 30px;
}
.productsImage{
    /* height: 14rem; */
    height: 12rem !important;
}
.products{
    margin-left: 20px !important;
}
.discriptionBody{
    position: fixed;
    top: 13%;
    max-height: 70vh;
}
/* .checkAndEmptyBTN{
    position: absolute;
    bottom: 0;
} */
#scrollCanvas{
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 90vh;
}
.logoImg{
    height: 37px;
}
.offcanvas{
    height: 85vh;
}
.userimage img{
    height: 25vh;
    width: 25vh;
}
@media only screen and (min-width: 320px) {
    .wrap{
        width: 7.2rem;
    }
    .products{
       gap: 15px;
       margin-right: 25px;
    }
    .addTocart{
        position: absolute;
        bottom: -2.5rem;
        
        right: 1rem;
    }
    .price{
        position: relative;
        /* bottom: 2rem; */
        right: 1rem;
        font-weight:500;
    }
    /* .price{
        position: absolute;
        bottom: 2rem;
        right: 5.5rem;
    } */
}
@media only screen and (min-width:768px) {
    .wrap{
        width: 10rem;
    }
    .addTocart{
        position: absolute;
        bottom: -2.5rem;
        
        right: 2.5rem;
    }
}
@media only screen and (min-width:1024px) {
    .wrap{
        width: 14rem;
        gap: 19px;
    }
    .addTocart{
        position: absolute;
        /* bottom: -2.5rem; */
        right: 5rem;
    }
}
.price{
    list-style-type: none;
}
.imgFootWrap, .footerLi{
    flex-wrap: wrap;
}
body{
    transition: opacity 7s ease-in-out;
}
/* .slide-in-right {
	-webkit-animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            
}

 @-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  } */